body {
    margin: 0;
    padding: 0;
    font-family:sans-serif;
}
.input {
    display: flex;
    justify-content: center;
}
.container2 {
    display: flex;
    justify-content: center;
    min-height: 100vh;
    background-image: linear-gradient(#5F98CD 40%,#3476b2 60%); 
}
.locationinput {
    padding: 20px;
}

input,.locationButton {
    padding: 3px;
    border-radius: 5px;
}
input:focus {
    outline: none;
}
.location-container2 
{
    background: linear-gradient(to top,rgba(0,0,0,0),rgba(0,0,0,0.5));
    height:  auto;
    width: 50%;
    min-width: 759px;
}
.mapContainer {
    display: flex;
    justify-content: center;
}
.map {
    height: 600px;
    width: 759px;
}
.locationlabel {
    color: white;
    font-weight: bold;
}
@media(max-width:  733px)
{
   .location-container2 {
       min-width: 600px;
   }
}
@media(max-width:  600px)
{
   .location-container2 {
       min-width: 400px;
   }
}
@media(max-width:  400px)
{
    .container2 {
        overflow-y: hidden;
    }
    .location-container2 {
        width: 300px;
    }
}